# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth
*.pt

# Data and results
Dataset/
*.mat
*.npy
vis_debug_pattern/
FreeCam3D_model_pytorch/
ProjPatterns/
freecam3d/

# TensorBoard
events.out.tfevents.*
summary/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
